#streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
PyMuPDF
#chromadb
faiss-cpu
python-Levenshtein
fuzzywuzzy
oracledb
sqlalchemy
unidecode
xlsxwriter
word2number
opencv-python
pdf2image
xlrd